body{
  background-color: #e4e6eb;
  font-family: 'Lato', sans-serif;
  display: flex;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 70px;
  margin-left: 500px;
  color: #ad3b00;
  font-family: 'Bangers', cursive;
}

.search-box {
  margin-left: 560px;
}

.search-box input {
  font-family: 'Lato', sans-serif;
  padding: 10px;
  padding-left: 20px;
  width: 300px;
  font-size: 16px;
  background-color: inherit;
  border:1px solid black;
  float: left;
  margin-bottom: 30px;
  border-radius: 8px;
  border-color: #ad3b00;
}

::placeholder{
  font-family: 'Playfair Display', serif;
  color: #ad3b00;
}

.search-box #search-button{
  font-family: 'Playfair Display', serif;
  color: #ad3b00;
  border:1px solid #ad3b00;
  padding: 10px;
  margin-left: 5px;
  font-size: 16px;
  background-color: inherit;
  float: left;
  margin-bottom: 30px;
  border-radius: 8px;
  border-color: #ad3b00;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type:none;
}

#list li {
  padding-bottom: 7px;
  font-family: 'Playfair Display', serif;
  color: #ad3b00;
  font-size: 18px;
}

#list li .expandbtn{
  border: none;
  background-color: inherit;
  position: relative;
  left: 0;
  font-family: 'Playfair Display';
  font-size: 16px;
  font-weight: bold;
}

#popup {
  position: fixed;
  display: none;
  background-color: #242526;
  color: white;
  top: 50;
  left: 230px;
  height: 670px;
  width: 1000px;
  border-radius: 8px;
  overflow-y:auto;
}

h2 {
  background-color: inherit;
  font-family: 'Bangers', cursive;
  font-size: 60px;
  padding: 0px;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 0px;
}

#popup #columnleft, #columnright{
  float: left;
}

#popup #columnleft{
  width: 65%;
  background-color: inherit;
}

#popup #columnright{
  width: 35%;
  background-color: inherit;
}

.search-results {
  width: 100%;
	height: 100px;
	position: absolute;
	top: 250;
	bottom: 0;
	left: 0;
	right: 0;
}

#clearbutton {
  margin-left: 910px;
  background-color: inherit;
  height: 20px;
  width: 20px;
  text-decoration: none;
  border: none;
  color: white;
  position: relative;
  top: -65px;
  font-size: 30px;
  font-family: 'Bangers', cursive;
}

h3 {
  color: #ad3b00;
  font-family: 'Bangers', cursive;
  font-size: 40px;
  margin-top: 0px;
  padding-top: 5px;
  margin-bottom: 10px;
}

#row {
  margin-top: 10px;
}

#albumlist {
  font-family: 'Playfair Display', serif;
  list-style-type: none;
  text-align: left;
  position: relative;
  left: 65px;
}

#albumlist li {
  padding: 5px;
}

#albumlist > li::before {
  content: '';
  display: inline-block;
  height: 40px;
  width: 40px;
  background-size: 35px;
  background-image: url('cd.jpg');
  background-repeat: no-repeat;
  vertical-align: middle;
}

p:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 20px;
  background-image: url(musicnote.png);
  background-repeat: no-repeat;
  vertical-align: middle;
}

p {
  text-indent: 70px;
  margin: 5px;
}

#albumlist .expandalbumbtn {
  background-color: inherit;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#relatedartistlist {
  font-family: 'Playfair Display', serif;
  left: 65px;
  margin-top: 15px;
}

#relatedartistlist li {
  padding: 5px;
}

h4 {
  font-size: 18px;
  font-family: 'Bangers', cursive;
  margin: 0px;
}

#footer {
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 100px;
}

#footer h1 {
  margin: 0px;
  text-align: center;
}

#footer h3 {
  font-family: 'Playfair Display', serif;
  font-size: 23px;
  text-indent: inherit;
  color: black;
}

#footerleft {
  float: left;
  width: 35%;
  background-color: inherit;
  padding: 0px;
  margin: 0px;
}

#footerright {
  float: left;
  width: 60%;
  background-color: inherit;
  padding: 0px;
  margin: 0px;
}

#footer h1 {
  padding: 25px;
}

#navigateus, #aboutus {
  color: #242526;
}

#footerright h2 {
  font-size: 35px;
}

#footerright h3 {
  font-size: 18px;
  width: 70%;
}

#navigateus h2 {
  position: relative;
  left: -20%;
  //make these percentages
}

#navigateus h3 {
  position: relative;
  top: 20px;
  text-align: left;
}

#aboutus {
  position: relative;
  top: 70px;
}

#aboutus h2 {
  position: relative;
  left: 20%;
}

#aboutus h3 {
  position: relative;
  left: 16%;
  top: -10px;
  text-align: right;
}
