body{
  background-image: linear-gradient(to bottom right, #a8d6eb, #265e78);
  font-family: 'Lato', sans-serif;
  display: flex;
  text-align: center;
}


h1{
  font-size: 40px;
}

.search-box input{
  font-family: 'Lato', sans-serif;
  padding: 10px;
  padding-left: 20px;
  width: 300px;
  font-size: 16px;
  background-color: inherit;
  border:1px solid black;
  float: left;
  margin-bottom: 30px;
}

::placeholder{
  color: black;
}

.search-box #search-button{
  font-family: 'Lato', sans-serif;
  border:1px solid black;
  padding: 10px;
  margin-left: 5px;
  font-size: 16px;
  background-color: inherit;
  float: left;
  margin-bottom: 30px;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style-type:none
}

#list li{
  padding: 13px;
  padding-bottom: 3px;
  border-bottom:1px solid black;
}

#list li .expandbtn{
  border: none;
  background-color: inherit;
  position: relative;
  left: 0;
}


#popup{
  position: fixed;
  display: none;
  background-color: black;
  color: white;
  top: 40;
  width: 80%;
  left: 10%;
  right: 10%

}

h2{
  background-color: black;
  margin: 0;
  padding: 0;
}

#popup #columnleft, #columnright{
  float: left;
}

#popup #columnleft{
  width: 69%;
  border-right: 2px solid white;
  background-color: black;
}

#popup #columnright{
  width: 30%;
  background-color: black;
}
